01-theoretical.aux
02-practical.aux
03-appendix.aux
report.aux
report.bbl
report.bcf
report.blg
report.log
report.out
report.run.xml
report.synctex.gz
report.toc
inc/img/approx_func.png
inc/img/mse_func.png
inc/img/tux.png
inc/img/tuz.png
